<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jenkins Job Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

  <h2>Jenkins Job Dashboard</h2>

  <table border="1">
    <thead>
      <tr>
        <th>Job Name</th>
        <th>Git Repository</th>
        <th>Branch</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Execute Job</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td><a href="{{ url_for('get_jenkins_job_info', job_name=job.job_name) }}">{{ job.job_name }}</a></td>
          <td>{{ job.git_repo }}</td>
          <td>{{ job.branch }}</td>
          <td>{{ job.email }}</td>
          <td>{{ job.created_at }}</td>
          <td>
            <form action="{{ url_for('run_job', job_name=job.job_name) }}" method="post">
              <button type="submit" style="padding: 4px 8px;">Run</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
